.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;
  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;
  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
}
.fallback-message p {
  margin-bottom: 10px;
}
.impress-supported .fallback-message {
  display: none;
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: radial-gradient(ellipse at center, #ec6200 0%, #6e0200 100%);
}
.step {
  position: relative;
  width: 1000px;
  padding: 40px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.impress-enabled .step {
  margin: 0;
  opacity: 0.15;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.impress-enabled .step.active {
  opacity: 1;
}
.slide {
  display: block;
  width: 1000px;
  height: 750px;
  color: white;
  text-shadow: 1px 1px 0px black;
  font-size: 2em;
}
.slide h1 {
  font-weight: 900;
  font-size: 2em;
}
.slide.ord {
  background-color: white;
  background: radial-gradient(circle at center, #ffffff 75%, #c0c0c0 100%);
  border: 3px solid black;
  border-radius: 4px;
  color: #444;
  text-shadow: none;
}
.slide.demo .well {
  color: #333;
  text-shadow: none;
}
.slide.break {
  text-align: center;
  color: gold;
}
.slide.break h1 {
  font-size: 5em;
  font-weight: 900;
}
pre {
  text-shadow: none;
  font-size: 1em;
}
ul li {
  list-style: outside square;
}
em {
  color: #AAA;
}
code {
  text-shadow: none;
}
.play {
  text-shadow: none;
  color: gold;
  cursor: pointer;
}
#intro {
  text-align: center;
  background: transparent;
  border: none;
  text-shadow: 0 0 3px black;
  color: gold;
}
#intro h1 {
  font-size: 6em;
  font-weight: 900;
}
#intro h3 {
  font-weight: 300;
  font-size: 4em;
}
#me {
  text-align: center;
  text-shadow: 1px 1px 0px black;
}
#me h2 {
  font-size: 3.3em;
  font-weight: 500;
}
#me h3 {
  font-size: 2.3em;
  font-weight: 300;
}
